<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Amd.css">
</head>
<body id="Body">
    <header id="header">
      <div id="navbar">
        <ul>
          <li>
            <a href="/">Diseñadores de GPU</a>
          </li>
    
          <li>
            <a href="/Template/Nvidea.html">Nvidia</a>
          </li>
    
          <li>
            <a href="Amd.html">Amd</a>
          </li>
    
          <li>
            <a href="/Template/Ensamblaje.html">Ensambladores</a>
          </li>
    
        </ul> 
      </div>
    </header>
    <main id="main">
        <div class="album py-5 bg-light">
            <div class="container">
        
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/AMD/Grafica/amd radeon 6600XT.webp" alt="AMD Radeon RX 6600 XT">
        
                    <div class="card-body">
                      <h3>AMD Radeon RX 6600 XT</h3>
                      <p class="card-text">diseñada con la revolucionaria arquitectura AMD RDNA™ 2, nació para ofrecerte la mejor experiencia de juego en 1080p.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/AMD/Grafica/RX 6900 XT.jpg" alt="RX 6900 XT">
        
                    <div class="card-body"><h3>AMD RX 6900 XT</h3>
                      <p class="card-text">potenciada con la arquitectura AMD RDNA™ 2 y equipada con 80 potentes unidades de procesamiento mejoradas, 128MB de la flamante tecnología AMD Infinity Cache y 16GB de memoria GDDR6 dedicada, está diseñada para alcanzar velocidades de cuadros ultraaltas y jugar en 4K con una calidad deslumbrante.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/AMD/Grafica/RX 6800 XT.jpg" alt="RX 6800 XT">

                    <div class="card-body"><h3>AMD RX 6800 XT</h3>
                      <p class="card-text">potenciada con la arquitectura AMD RDNA™ 2 y equipada con 72 potentes unidades de procesamiento mejoradas, 128MB de la flamante tecnología AMD Infinity Cache y 16GB de memoria GDDR6 dedicada, está diseñada para alcanzar velocidades de cuadros ultraaltas y jugar en 4K con una calidad deslumbrante.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/AMD/Grafica/amd radeon 6800.webp" alt="RX 6800">
        
                    <div class="card-body"><h3>AMD RX 6800</h3>
                      <p class="card-text">potenciada con la arquitectura AMD RDNA™ 2 y equipada con 60 potentes unidades de procesamiento mejoradas, 128MB de la flamante tecnología AMD Infinity Cache y hasta 16GB de memoria GDDR6 dedicada, está diseñada para alcanzar velocidades de cuadros ultraaltas y jugar en 4K con una calidad deslumbrante.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/AMD/Grafica/AMD Radeon VII.jpg" alt="AMD Radeon VII">
        
                    <div class="card-body"><h3>AMD Radeon VII</h3>
                      <p class="card-text">AMD Radeon VII es su proceso de fabricación de 7 nm, que se usa por primera vez en una tarjeta gráfica para el mercado de consumo</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/AMD/Grafica/RX 5700 XT.webp" alt="RX 5700 XT">
        
                    <div class="card-body">
                      <h3>AMD RX 5700 XT</h3>
                      <p class="card-text">La Radeon RX 5700 XT totalmente nueva incorpora la arquitectura RDNA para garantizar un rendimiento excepcional y una experiencia de juego de alta fidelidad. Toma el control con Radeon RX 5700 XT y vive una experiencia de juego potente y acelerada a tu medida.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/AMD/Grafica/rx 5600 xt.webp" alt="RX 5600 XT">
        
                    <div class="card-body">
                      <h3>AMD RX 5600 XT</h3>
                      <p class="card-text">La flamante Radeon RX 5600 XT con arquitectura RDNA ofrece la mejor experiencia de juego a 1080p. Vive partidas de alta fidelidad completamente inmersivas y personalizables. Despliega tu mejor juego con Radeon RX 5600 XT.</p>
                      <div class="d-flex justify-content-between align-items-center">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/AMD/Grafica/Vega64.jpg" alt="Vega64">
        
                    <div class="card-body"><h3>AMD RX Vega 64</h3>
                      <p class="card-text">Radeon RX Vega 64 es la gráfica con la que buscan plantar cara a la GTX 1080 Ti de Nvidia. Esta Radeon RX Vega 64 estará disponible en dos versión, donde la diferencia principal será el sistema de enfriamiento, lo que afectará de forma directa el rendimiento, potencia, consumo energético y por supuesto, el precio.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/AMD/Grafica/Vega56.jpg" alt="Vega56">
        
                    <div class="card-body">
                      <h3>AMD RX Vega 56</h3>
                      <p class="card-text">Los gráficos Radeon™ RX Vega se crearon para brindar un rendimiento emocionante en los juegos DirectX® 12 y Vulkan® más recientes.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </main>
</body>
</html>