<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ensambladores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/Ensamblaje.css">
</head>
<body id="Body">
    <header id="header">
        <div id="navbar">
            <ul>
              <li>
                <a href="../index.html">Diseñadores de GPU</a>
              </li>
        
              <li>
                <a href="Nvidea.html">Nvidia</a>
              </li>
        
              <li>
                <a href="Amd.html">Amd</a>
              </li>
        
              <li>
                <a href="Ensamblaje.html">Ensambladores</a>
              </li>
        
            </ul> 
          </div>
    </header>
    <main id="main">
        <h6 class="texto"><h3>Ensambladores:</h3><br> <h5>integran las GPU proporcionadas por los fabricantes con el resto de la tarjeta, de diseño propio. De ahí que tarjetas con el mismo chip tengan formas o conexiones diferentes o puedan dar ligeras diferencias de rendimientos, en especial tarjetas gráficas modificadas o subidas de fábrica. <br> <br> En la tabla adjunta se muestra una relación de los dos diseñadores de chips y algunos de los ensambladores de tarjetas con los que trabajan.</h5>
        <table class="table table-dark" id="tabla">
            <tr>
              <th class="columna">Fabricante</th>
              <th class="columna">Ensambladores</th>
            </tr>
            <tr>
              <td class="tabla_imagen"><img src="../Recurso/img/Nvidia/Nvidia.jpg" alt="Nvidia" class="tabla_imagen"></td>
              <td class="text_tabla">
                  <ol>
                      <li><img src="../Recurso/img/Nvidia/Ensamble/Nvidia.png" alt="Nvidia"></li>
                      <li><img src="../Recurso/img/Nvidia/Ensamble/EVGA.png" alt="evga"></li>
                      <li><img src="../Recurso/img/Nvidia/Ensamble/ASUS.png" alt="ASUS"></li>
                      <li><img src="../Recurso/img/Nvidia/Ensamble/GIGABYTE.png" alt="GIGABYTE"></li>
                      <li><img src="../Recurso/img/Nvidia/Ensamble/MSI.png" alt="MSI"></li>
                      <li><img src="../Recurso/img/Nvidia/Ensamble/pny.png" alt="PNY"></li>
                </ol>
            </td>
            </tr>
            <tr>
                <td class="tabla_imagen"><img src="../Recurso/img/AMD/AMD.jpg" alt="AMD" class="tabla_imagen"></td>
                <td class="text_tabla">
                    <ol>
                        <li><img src="../Recurso/img/AMD/Ensamble/AMD2.png" alt="AMD"></li>
                        <li><img src="../Recurso/img/AMD/Ensamble/sapphire.png" alt="sapphire"></li>
                        <li><img src="../Recurso/img/AMD/Ensamble/PowerColor.png" alt="PowerColor"></li>
                        <li><img src="../Recurso/img/AMD/Ensamble/ASUS.png" alt="ASUS"></li>
                        <li><img src="../Recurso/img/AMD/Ensamble/MSI.png" alt="MSI"></li>
                        <li><img src="../Recurso/img/AMD/Ensamble/XFX.png" alt="XFX"></li>
                        <li><img src="../Recurso/img/AMD/Ensamble/GIGABYTE.png" alt="GIGABYTE"></li>
                    </ol>
                </td>      
                </tr>
          </table>
    </main>
</body>
</html>