<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ensambladores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Ensamblaje.css">
</head>
<body>
    <header id="header">
        <div id="navegador">
            <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/Template/Nvidea.html">NVIDIA</a></li>
            <li><a href="/Template/Amd.html">AMD</a></li>
            <li><a href="/Template/Ensamblaje.html">Ensamblaje</a></li>
            </ul>
            </div>
    </header>
    <main id="main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, vitae accusantium. Tenetur natus dolorem aliquam dolorum culpa, nobis aliquid nisi ab, aspernatur exercitationem at in qui quas quis facilis iure!
        Neque cupiditate pariatur ratione architecto. Adipisci nam saepe magnam a deserunt voluptatum eum vero in facilis magni sunt odit ullam, soluta laborum obcaecati necessitatibus cupiditate accusantium accusamus sint ab. Quos.</p>
        <table>
            <tr>
              <th>Fabricante</th>
              <th>Ensambladores</th> 
            </tr>
            <tr>
              <td>Nvidia</td>
              <td>
                  <ol>
                      <li>Nvidia</li>
                      <li>EVGA</li>
                      <li>ASUS</li>
                      <li>GIGABYTE</li>
                      <li>MSI</li>
                      <li>Club3d</li>
                      <li>PNY</li>
                </ol>
            </td>
            </tr>
            <tr>
                <td>AMD</td>
                <td>
                    <ol>
                        <li>AMD</li>
                        <li>Sapphire</li>
                        <li>PowerColor</li>
                        <li>ASUS</li>
                        <li>MSI</li>
                        <li>DIAMOND</li>
                        <li>XFX</li>
                        <li>GIGABYTE</li>
                    </ol>
                </td>      

          </table>
    </main>
</body>
</html>