<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NVIDEA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Nvidia.css">
</head>
<body>
    <header id="header">
        <div id="navegador">
            <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="Nvidea.html">NVIDIA</a></li>
            <li><a href="/Template/Amd.html">AMD</a></li>
            <li><a href="/Template/Ensamblaje.html">Ensamblaje</a></li>
            </ul>
            </div>
    </header>
    <main>
        <div class="album py-5 bg-light">
            <div class="container">
        
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/Nvidia/RTX 3090.png" alt="">
        
                    <div class="card-body">
                      <h3>Nvidia GeForce RTX 3090</h3>
                      <h5>LA BFGPU</h5><p class="card-text">con un rendimiento de clase TITAN. Está impulsado por Ampere, la arquitectura RTX de segunda generación de NVIDIA, que duplica el rendimiento del trazado de rayos y la inteligencia artificial con núcleos de trazado de rayos (RT) mejorados, núcleos de tensor y nuevos multiprocesadores de transmisión. Además, cuenta con la asombrosa cantidad de 24 GB de memoria G6X, todo para brindar la mejor experiencia de juego.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/Nvidia/3080ti.jpeg" alt="">
        
                    <div class="card-body"><h3>Nvidia GeForce RTX 3080 Ti</h3>
                      <p class="card-text">con un rendimiento de clase TITAN. Está impulsado por Ampere, la arquitectura RTX de segunda generación de NVIDIA, que duplica el rendimiento del trazado de rayos y la inteligencia artificial con núcleos de trazado de rayos (RT) mejorados, núcleos de tensor y nuevos multiprocesadores de transmisión. Además, cuenta con la asombrosa cantidad de 24 GB de memoria G6X, todo para brindar la mejor experiencia de juego.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/Nvidia/RTX 3080.png" alt="">

                    <div class="card-body"><h3>Nvidia GeForce RTX 3080</h3>
                      <p class="card-text">ofrecen el rendimiento ultrarrápido que los jugadores anhelan, con la tecnología Ampere, la arquitectura RTX de segunda generación de NVIDIA. Están construidos con RT Cores y Tensor Cores mejorados, nuevos multiprocesadores de transmisión y memoria G6X ultrarrápida para una experiencia de juego increíble.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm"> 
                    <img src="/Recurso/img/Nvidia/Nvidia 3070.jpg" alt="">
        
                    <div class="card-body"><h3>Nvidia GeForce RTX 3070</h3>
                      <p class="card-text">funcionan con Ampere, la arquitectura RTX de segunda generación de NVIDIA. Construidos con Ray Tracing Cores y Tensor Cores mejorados, nuevos multiprocesadores de transmisión y memoria de alta velocidad, le brindan la potencia que necesita para atravesar los juegos más exigentes.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/Nvidia/Nvidia 3060.jpg" alt="">
        
                    <div class="card-body"><h3>Nvidia GeForce RTX 3060</h3>
                      <p class="card-text"> te permiten enfrentarte a los juegos más recientes utilizando la potencia de Ampere, la arquitectura RTX de segunda generación de NVIDIA. Obtenga un rendimiento increíble con núcleos de trazado de rayos y núcleos tensores mejorados, nuevos multiprocesadores de transmisión y memoria G6 de alta velocidad.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/Nvidia/RTX 2080.jpg" alt="">
        
                    <div class="card-body"><h3>Nvidia GeForce RTX 2080</h3>
                      <p class="card-text">está impulsada por la arquitectura NVIDIA Turing ™ para brindarle nuevos e increíbles niveles de realismo, velocidad, eficiencia energética e inmersión en los juegos. Estos son los gráficos reinventados. </p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/Nvidia/RTX 2070.jpg" alt="">
        
                    <div class="card-body"><H3>Nvidia GeForce RTX 2070</H3>
                      <p class="card-text">aprovecha la arquitectura de vanguardia NVIDIA Turing ™ para sumergirte en un realismo y rendimiento increíbles en los juegos más recientes. El futuro de los videojuegos comienza aquí.</p>
                      <div class="d-flex justify-content-between align-items-center">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/Nvidia/RTX 2060.jpg" alt="">
        
                    <div class="card-body"><h3>Nvidia GeForce RTX 2060</h3>
                      <p class="card-text"> está impulsada por la arquitectura NVIDIA Turing ™ , brindando un rendimiento increíble y el poder del trazado de rayos en tiempo real y la inteligencia artificial para los juegos más recientes y para todos los jugadores. RTX. Esta encendido.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="/Recurso/img/Nvidia/GTX 1080.png" alt="">
        
                    <div class="card-body"><H3>Nvidia GeForce GTX 1080</H3>
                      <p class="card-text">es nuestra emblemática GPU para juegos Serie 10. Esta tarjeta gráfica está llena de potencia de gaming extremo, con memoria GDDR5X de próxima generación de 11 Gbps y un gran buffer de cuadros de 11 GB.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </main>
</body>
</html>